auto_mix_prep==0.2.0
dtaidistance==2.3.11
einops==0.8.1
extensions==0.4
linear_attention_transformer==0.19.1
matplotlib==3.8.3
numpy==1.23.5
opt_einsum==3.3.0
pandas==2.3.3
pykeops==2.2.3
pytorch_lightning==2.2.0.post0
PyYAML==6.0.2
scikit_learn==1.4.1.post1
scipy==1.16.3
seaborn==0.13.2
similaritymeasures==1.1.0
tensorflow==2.12.0
timm==1.0.22
torch==2.1.2+cu118
torchvision==0.16.2+cu118
tqdm==4.66.5
